html,body{
	font-family: 'Montserrat', sans-serif;
}

.hero-background-home{
	background-image: url('../img/kuli-1.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
    background-position: center;
}

.hero-background-about{
	background-image: url('../img/kuli-7.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
    background-position: center;
}

.hero-background-products{
	background-image: url('../img/kuli-6.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
    background-position: center;
}

.hero-background-projects{
	background-image: url('../img/kuli-11.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
    background-position: center;
}

.hero-background-contact{
	background-image: url('../img/bangunan-1.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
    background-position: center;
}

.hero-background-jasa{
	background-image: url('../img/kuli-2.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
    background-position: center;
}

/* Padding Library */
.p-0  { padding:0; }
.pt-0 { padding-top:0; }
.pb-0 { padding-bottom: 0; }
.pr-0 { padding-right: 0; }
.pl-0 { padding-left: 0; }

.pt-1 { padding-top: 1rem; }
.pt-2 { padding-top: 2rem; }
.pt-3 { padding-top: 3rem; }
.pt-4 { padding-top: 4rem; }
.pt-5 { padding-top: 5rem; }

.pb-1 { padding-bottom: 1rem; }
.pb-2 { padding-bottom: 2rem; }
.pb-3 { padding-bottom: 3rem; }
.pb-4 { padding-bottom: 4rem; }
.pb-5 { padding-bottom: 5rem; }

.pr-1 { padding-right: 1rem; }
.pr-2 { padding-right: 2rem; }
.pr-3 { padding-right: 3rem; }
.pr-4 { padding-right: 4rem; }
.pr-5 { padding-right: 5rem; }

.pl-1 { padding-left: 1rem; }
.pl-2 { padding-left: 2rem; }
.pl-3 { padding-left: 3rem; }
.pl-4 { padding-left: 4rem; }
.pl-5 { padding-left: 5rem; }
/* Padding Library */

.blur{ background: rgba(0,0,0,0.5); }

.centerin{
	display: block !important;
	margin:auto !important;
}

.card{
	box-shadow: none;
}

.card-content{
	padding:0;
	padding-top: 1rem;
}

.footer{
    padding: 2rem 1.5rem 2rem;
}

/* Float Action Button */
.adminActions {
	position: fixed;
	bottom: 35px; right: 35px;
}

.adminButton {
	height: 60px;
	width: 60px;
	background-color: #00d1b2;
	border-radius: 50%;
	display: block;
	color: #fff;
	text-align: center;
	position: relative;
	z-index: 1;
}

.adminButton i {
	font-size: 22px;
}

.adminButtons {
	position: absolute;
	width: 100%;
	bottom: 120%;
	text-align: center;
}

.adminButtons a {
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	text-decoration: none;
	margin: 10px auto 0;
	line-height: 1.15;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	position: relative;
	box-shadow: 0 0 5px 1px rgba(51, 51, 51, .3);
}

.adminButtons a:hover {
    transform: scale(1.05);
}

.adminButtons a:nth-child(1) {background-color: #f44336; transition: opacity .2s ease-in-out .3s, transform .15s ease-in-out;}
.adminButtons a:nth-child(2) {background-color: #25D366; transition: opacity .2s ease-in-out .25s, transform .15s ease-in-out;}
/*.adminButtons a:nth-child(3) {background-color: #ff5722; transition: opacity .2s ease-in-out .2s, transform .15s ease-in-out;}
.adminButtons a:nth-child(4) {background-color: #4CAF50; transition: opacity .2s ease-in-out .15s, transform .15s ease-in-out;}*/

.adminActions a i {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

.adminToggle {
	-webkit-appearance: none;
	position: absolute;
	border-radius: 50%;
	top: 0; left: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
	z-index: 2;
	transition: box-shadow .2s ease-in-out;
	box-shadow: 0 3px 5px 1px rgba(51, 51, 51, .3);
}

.adminToggle:hover {
  box-shadow: 0 3px 6px 2px rgba(51, 51, 51, .3);
}

.adminToggle:checked ~ .adminButtons a {
  opacity: 1;
  visibility: visible;
}

.icofont-sz{
	font-size: 1.5rem;
}
/* Float Action Button */

@media screen and (max-width: 1087px) {
	.navbar-menu.is-active {
    	display: block;
	}

	.navbar-menu {
	    background-color: #000;
	    box-shadow: 0 8px 16px rgb(10 10 10 / 10%);
	    padding: 0.5rem 0;
	}
}